<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir">Inserir</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>

<h1>Dados Atualizados Com Successo!</h1>