<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir">Inserir</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./register">Registra-se</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>

<h1>Entrar</h1>
<form action="/controllerLogin" method="POST">
    <label>Email</label>
    <input type="email" name="email" ><br><br>

    <label>Password</label>
    <input type="password" name="pass"><br><br>

    <button type="submit">Entrar</button>
</form>