<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ver O Peso Virtual • Entrar</title>
		<link rel="stylesheet" href="/css/app360.css">
		
	</head>
	<body>
		<!--<header>
			<div class="logo">
				<h1>Tour Virtual Ver o Peso</h1>
			</div>

			<nav>
				<ul>
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
				</ul>
			</nav>

		</header>-->

		<main>

			<section class="banner">
				<div class="panolens"></div>		
			</section>

		</main>

		<footer>
			<!-- script js  -->
			<script type="text/javascript" src="/js/three.js"></script>
			<script type="text/javascript" src="/js/panolens.js"></script>
			<script type="text/javascript" src="/js/app360.js"></script>
		</footer>	
	
    </body>
</html>
