<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tour Virtual - Start </title>

	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>

	<!--header--->
	<header>
		<a href="#" class="logo">Tour Virtual</a>
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="http://127.0.0.1:3000/">Home</a></li>
			<li><a href="/start">+ Destinos</a></li>
			<li><a href="#">Histórico</a></li>
		</ul>
	</header>

	<!--destination section--->
	<section class="destination" id="destination">
		<div class="title">
			<h2> Destinos Populares! <br> Tour Virtual</h2>
		</div>

		<div class="destination-content">
			<div class="col-content">
				<a href="/tour360/panorama_veropeso">
				<img src="/images/veropeso3d.jpg">
				<h5>Ver O Peso</h5>
				<p>Brasil</p></a>
			</div>
			
			<div class="col-content">
				<a href="http://127.0.0.1:8080/">
				<img src="/images/smcportrait.jpg">
				<h5>Steven M. Caruso</h5>
				<p>Three</p></a>
			</div>
			
			<div class="col-content">
				<a href="/tour360/panorama_planet">
					<img src="/images/planet.png">
					<h5>Machu Picchu</h5>
					<p>PERU</p></a>
			</div>

			<div class="col-content">
				<a href="/tour360/panorama_lakehouse">
				<img src="/images/panorama_lakehouse.jpg">
				<h5>Lago Casa</h5>
				<p>França</p></a>
			</div>

			<div class="col-content">
				<a href="/tour360/panorama_globe">
				<img src="/images/360Single13312X6656.jpg">
				<h5>VER O PESO </h5>
				<p>2</p></a>
			</div>

			
		</div>
	</section>

	<!--footer--->
	
      <!-- section vazia  -->
      <section class='max-w-[1540px] m-auto px-4 py-12 mb-40'>
                
    </section>
    <div class='fixed w-full bottom-0 bg-gray-100 grid grid-cols-1 md:grid-cols-3 gap-6 py-6'>
       
        <div> 
                <h2 class='text-orange-600 font-bold sm:text-xl text-center'>
                    Doc
                </h2> 
                <div class='text-center'>
                           
                    <h3>Sobre</h3>
                    <h3>Política de Privacidade</h3>    
                    <h3>Copyright @ Todos os direitos reservados</h3> 
                </div> 
        </div>
           
        <div> 
                <h2 class='text-orange-600 font-bold sm:text-xl text-center'>
                    Contato
                </h2>  
                <div class='text-center'>       
                <h3>Fone: +55 (91) 9 88134393  </h3>        
                <h3>Email: VeroPesoVirtual@gmail.com</h3>
                <h3>Localização: Brasil, Pará</h3>
                </div> 
        </div>
           
        <div> 

                <h2 class='text-orange-600 font-bold sm:text-xl text-center'>
                    Conecte-se Conosco
                </h2>    

                <div class='flex justify-around'>

                    <a href='/facebook.com.br'  class='cursor-pointer '> 
                        <h3><img src='https://img.icons8.com/color/344/whatsapp--v2.png' alt='' class='w-5' /> </h3>                        
                    </a>  

                    <a href='/facebook.com.br'  class='cursor-pointer '>     
                        <h3><img src='https://img.icons8.com/ios-filled/344/facebook--v1.png' alt='' class='w-5' /></h3>                        
                    </a> 

                    <a href='/facebook.com.br'  class='cursor-pointer '>                
                        <h3><img src='https://img.icons8.com/3d-fluency/344/instagram-new.png' alt='' class='w-5' /></h3>
                    </a> 
                </div>
        </div>
        </div>

	<!--link to js--->
	<script type="text/javascript" src="/js/application-menu-mobile.js"></script>

</body>
</html>