<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Complete Travel Website Html Css</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


	
</head>
<body>

	<!--header--->
	<header>
		<a href="#" class="logo">Tour Virtual</a>
		<div class="bx bx-menu" id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="http://127.0.0.1:3000/">Home</a></li>
			<li><a href="/start">+ Destinos</a></li>
			<li><a href="#">Histórico</a></li>
		</ul>
	</header>

	<!--Section Panolens--->
	<section>

        <div class="panolens">
			
		</div>
	</section>



	<!--link to js--->
	
    <script type="text/javascript" src="/js/three.js"></script>
	<script type="text/javascript" src="/js/panolens.js"></script>
	
    <script type="text/javascript" src="/js/application-menu-mobile.js"></script>
    <script type="text/javascript">
        const pan = document.querySelector('.panolens');
        const images = '/images/panorama_lakehouse.jpg';

        const panorama = new PANOLENS.ImagePanorama( images );
        const viewer = new PANOLENS.Viewer({ 
            container:pan 
        });
        viewer.add( panorama );
    </script>
    

</body>
</html>